nav.navbar, .navbar-default {
    background-color: #2892d7 !important;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; 
}

.navbar-default .navbar-toggle:focus .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand:focus .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}